# OS temporary files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor & IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Temporary/Cache files
.sass-cache/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/
dist/
.cache/
